<!-- Bring in bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Function with random product -->
<div class="container-fluid text-center">
    <h1 class="i bg-light"">
        Welcome to the Price is Right game!
    </h1>
    <br />
    <h2 class =" i bg-light"">What is the price of this product?</h2>

        <div class="row justify-content-center">
            <div class="col-sm-6 d-flex">
                <div class="card text-center mx-auto mt-5 bg-light"
                    style="width: 32rem; border-radius: 5px; border: 3px solid">
                    <img class="card-img-top" src="<%= product.details.tradeIdentifiers[0].images[0] %>" alt="">
                    <h3>
                        <%= product.details.name %>
                    </h3>
                    <div class="row my-2 mx-auto">
                        <div class="col-sm">
                            <form method="POST" action="/answer">
                                <input type="hidden" name="correctPrice" value="<%= product.pricing.price %>">
                                <input class="btn bg-danger text-white" type="submit" name="answer"
                                    value=<%= product.prices[0][0]%>>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form method="POST" action="/answer">
                                <input type="hidden" name="correctPrice" value="<%= product.pricing.price %>">
                                <input class="btn bg-danger text-white" type="submit" name="answer"
                                    value=<%= product.prices[0][1]%>>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form method="POST" action="/answer">
                                <input type="hidden" name="correctPrice" value="<%= product.pricing.price %>">
                                <input class="btn bg-danger text-white" type="submit" name="answer"
                                    value=<%= product.prices[0][2]%>>
                            </form>
                        </div>
                        <div class="col-sm">
                            <form method="POST" action="/answer">
                                <input type="hidden" name="correctPrice" value="<%= product.pricing.price %>">
                                <input class="btn bg-danger text-white" type="submit" name="answer"
                                    value=<%= product.prices[0][3]%>>
                            </form>
                        </div>
                    </div>
                    <form method="POST" action="/completed">
                        <input class="btn bg-danger text-white btn-lg btn-block" type="submit" name="endGame"
                            value="End Game"></input>
                    </form>
                </div>
            </div>
        </div>
        <div>

            <!-- Timer on top of page -->
            <!-- <script>
 window.onload = function () {
    var display = document.querySelector('#time'),
        timer = new CountDownTimer(5),
        timeObj = CountDownTimer.parse(5);

    format(timeObj.minutes, timeObj.seconds);
    
    timer.onTick(format);
    
    document.querySelector('button').addEventListener('click', function () {
        timer.start();
    });
    
    function format(minutes, seconds) {
        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;
        display.textContent = minutes + ':' + seconds;
    }
};
</script> -->