<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


<!-- function with random product -->
<div class="container-fluid text-center">
    <h1>
        Welcome to the price is right!
    </h1>
    <div class="row justify-content-center">
        <div class="col-sm-6 d-flex">
            <div class="card text-center mx-auto mt-5 bg-light" style="width: 32rem; border-radius: 5px; border: 3px solid">
                <img class="card-img-top" src="<%= product.details.tradeIdentifiers[0].images[0] %>" alt="">  
                <h5> True price
                    <%= product.pricing.price %>
                </h5>
                <p>
                    <%= product.details.name %>
                </p>
                <div class="row my-2 mx-auto">
                    <div class="col-sm"> 
                        <form method="POST" action="/answer">
                            <input type="hidden" name="correctPrice" value="<%= product.pricing.price %>">
                            <input class="btn btn-primary" type="submit" name="answer" value=<%= product.prices[0][0]%>>
                        </form>
                    </div>
                    <div class="col-sm">
                        <input class="btn btn-primary" type="submit" value=<%= product.prices[0][1] %>>
                    </div>
                    <div class="col-sm">
                        <input class="btn btn-primary" type="submit" value=<%= product.prices[0][2] %>>
                    </div>
                    <div class="col-sm">
                        <input class="btn btn-primary" type="submit" value=<%= product.prices[0][3] %>>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div>


<!-- Iterate over the array and return the calorie count of the recipes -->
<!-- testing that the parameters are passed in from app.js -->

<!-- need to make this a function that activates on button click, thereby loading all the objects as cards -->


<!-- 
document.getElementById('gameCard').innerHTML = renderCards(recipeArray);
%> -->

<!-- 
// working code
// need percent open thingy here
//     recipeArray.data.map(calories => {
//     // console.log(topGame); 
//     // console.log(topGame.game.box.medium) 
//     return`
//         <div class="card">
//             <div class="card-body">
//                 <h5>
//                     ${calories.calories}
//                 </h5>
//             </div>
//         </div>
//     `
//     })
    
// %> -->